.form-check-input {
  border: 1px solid #dbdade !important;
}
.form-control{
  padding: .426rem .9375rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default.select2-container--focus .select2-selection--single .select2-selection__rendered,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__rendered {
  line-height: 38px !important;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  font-size: 20px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 0px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  height: 20px !important;
  top: 23.8% !important;
  background-size: 20px 20px !important;
}


.card-header.crud {
  border-bottom: 1px solid var(--bs-border-color) !important;
  margin-bottom: 15px !important;
  padding-bottom: 15px !important;
}
.disabled {
  color: rgba(114, 135, 236, 0.5);
  background-color: rgba(141, 153, 213, 0.05);
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.was-validated .custom-select:invalid + .select2 .select2-selection {
  border-color: #dc3545 !important;
}
.required {
  color: #dc3545 !important;
}
.was-validated .custom-select:valid + .select2 .select2-selection {
  border-color: #28a745 !important;
}
*:focus {
  outline: 0px;
}
.was-validated .custom-select:invalid + .select2 .select2-selection {
  border-color: #dc3545 !important;
}
.was-validated .custom-select:valid + .select2 .select2-selection {
  border-color: #28a745 !important;
}
*:focus {
  outline: 0px;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #fff !important;
    background-color: #dc3545 !important;
}

.loader {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  background: #fffdfd61;
  display: none;
}
.loader.active-loader {
  display: block;
}
.loader .ajax-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.fancybox__container{
  z-index: 1080 !important;
}
.selectrevertcategory{
  display: flex !important;
  align-items: center;
}

.selectrevertcategory .form-check-label {
  margin-left: 0.5rem;
}

.table-sm>:not(caption)>*>* {
  padding: .5rem .45rem !important;
  font-size: 14px !important;
  line-height: 18px !important;
}
.table thead tr th {
  text-transform: capitalize !important;
  padding-block: 0.65rem !important;
}
.span_action_by {
	color: #3f77e0;
	font-weight: bold;
}
